.ini{
  color: #f7f7f7e2;
  background-color: #000000;
  padding: 0 20px 20px 20px;
  border: 23px solid black;
  font-size: 54px;
  text-align: center;
    
}

.boton {
    border-radius:50px;
    color: rgb(43, 70, 77);
    background-color: rgb(241, 241, 241);
    padding: 5px;
    text-decoration: none;
    
}
